body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-dark);
  background-color: var(--color-white);
  position: relative;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1465px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

.section-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  @include breakpointsMaxW($bp-container) {
    font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1225 - 320)));
    line-height: calc(28px + (42 - 28) * ((100vw - 320px) / (1225 - 320)));
  }
}

// Scroll Top
.scroll {
  position: fixed;
  right: 16px;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  border-radius: 8px;
  transition: 400ms;
  background-color: var(--color-accent);
  z-index: 100;
  opacity: 0.3;
  visibility: hidden;
  z-index: 999;

  svg {
    transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    fill: var(--color-unaccent);
  }

  &:hover {
    opacity: 1;
  }

  &.show-scroll {
    visibility: visible;
    bottom: 25px;
  }
}

// Buttons Default Classes
.btn {
  padding: 26px 90px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  background-color: var(--color-accent);
  color: var(--color-white);
}

.logo {
  width: 135px;
  height: 75px;
  flex-shrink: 0;

  img {
    @include img(cover);
  }

  @include breakpointsMaxW($bp-991) {
    width: 67px;
    height: 37px;
  }
}



// ! Arrow Animation
// .arrow-next,
// .arrow-prev {
//   transition: 150ms ease-in;
// }

// .arrow-prev {
//   &:hover {
//     transform: translateX(-3px);
//     background-color: var(--color-accent);
//     &::after{
//       background-color: #fff;
//     }
//   }
// }

// .arrow-next {
//   &:hover {
//     transform: translateX(3px);
//     background-color: var(--color-accent);
//   }
// }



// !

// .arrow-next,
// .arrow-prev {
//   position: absolute;
//   width: 54px;
//   height: 54px;

//   top: 50%;
//   transform: translateY(-50%);
//   border-radius: 50%;
//   border: 1px solid rgb(233, 229, 229);

//   &::after {
//     @include pseudoElDefault();
//     top: 50%;
//     left: 50%;
//     width: 24px;
//     height: 24px;
//     transform: translate(-50%, -50%);
//   }

//   @include breakpointsMaxW(1600px) {
//     display: none;
//   }
// }

// .arrow-next {
//   right: -70px;

//   &::after {
//     @include maskImage(url('../images/icons/chevron-right.svg'), 24px);
//     background-color: var(--color-dark);
//   }
// }

// .arrow-prev {
//   left: -70px;

//   &::after {
//     @include maskImage(url('../images/icons/chevron-left.svg'), 24px);
//     background-color: var(--color-dark);
//   }
// }