body {
  font-family: $Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-dark);
  background-color: var(--color-white);
  position: relative;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1715px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

.section-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  @include breakpointsMaxW($bp-container) {
    font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1225 - 320)));
    line-height: calc(28px + (42 - 28) * ((100vw - 320px) / (1225 - 320)));
  }
}

.title-h1 {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 48px;

  @include breakpointsMaxW($bp-container) {
    font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1225 - 320)));
    line-height: calc(38px + (56 - 38) * ((100vw - 320px) / (1225 - 320)));
    margin-bottom: calc(20px + (44 - 20) * ((100vw - 320px) / (1225 - 320)));
  }
}

// Scroll Top
.scroll {
  position: fixed;
  right: 16px;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  border-radius: 8px;
  transition: 400ms;
  background-color: var(--color-accent);
  z-index: 100;
  opacity: 0.3;
  visibility: hidden;
  z-index: 999;

  svg {
    transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    fill: var(--color-unaccent);
  }

  &:hover {
    opacity: 1;
  }

  &.show-scroll {
    visibility: visible;
    bottom: 25px;
  }
}

a,
button {
  @include focusActive();
}

// Buttons Default Classes
.btn {
  display: inline-block;
  padding: 26px 90px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  transition: 250ms ease;

  background-color: var(--color-accent);
  color: var(--color-white);

  &--link {
    padding: 0;
    background-color: transparent;
    color: var(--color-accent);
    font-size: 16px;
    line-height: 19px;
    position: relative;
    transition: 150ms ease-in;
    padding-right: 21px;

    &:hover {
      &::after {
        transform: translateY(-50%) translateX(3px);
      }
    }

    &::after,
    &::before {
      @include pseudoElDefault();

      transition: 150ms ease-in;
    }

    &::after {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @include maskImage(url('../images/sprite.svg#chevron-right'), cover);
      background-color: var(--color-accent);
      width: 10px;
      height: 20px;
    }

    &::before {
      left: 0;
      bottom: -3px;
      height: 1px;
      width: 82%;
      background-color: var(--color-accent);
      transform: scaleX(0);
      transform-origin: left;
      transition: 150ms ease-in;
    }
  }

  &--shadow {
    border-radius: 4px;

    &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 8px;
      opacity: 0.3;
      background: var(--color-accent);
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%) translateY(-6px);
      border-radius: 50%;
      opacity: 0;
      transition: 350ms ease;
    }

    &:hover {
      transform: translateY(-6px);
      background-color: darken(#bc1d4a, 3%);

      &::after {
        opacity: 0.25;
        width: 90%;
        transform: translateX(-50%) translateY(0);
      }
    }
  }
}

.logo {
  width: 135px;
  height: 75px;
  flex-shrink: 0;

  img {
    @include img(cover);
  }

  @include breakpointsMaxW($bp-991) {
    width: 67px;
    height: 37px;
  }
}

.mark {
  background-color: var(--color-dark);
  width: 95px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 11;
  padding: 12px 15px;

  &::after {
    @include pseudoElDefault();
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid var(--color-dark);
  }
}

.price {
  font-size: 24px;
  line-height: 28px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;

  @include breakpointsMaxW($bp-container) {
    margin-bottom: calc(24px + (48 - 24) * ((100vw - 320px) / (1225 - 320)));
  }
}

//!  Swiper Paginations
.swiper-pagination {
  height: 6px;
  width: 100%;
  background-color: rgb(245, 245, 245);
  z-index: 0;

  display: flex;
  align-items: center;
}

.swiper-pagination-bullet {
  max-width: 342px;
  width: 100%;
  height: 100%;
  border-radius: 0;
  z-index: 10;
  transform: scaleX(0);

  transition: 350ms ease-in;

  background-color: transparent;

  &-active {
    background-color: #c4c4c4;
    transform: scaleX(1);
  }
}

// ! Swiper Buttons
.slider-buttons {
  width: 130px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpointsMaxW($bp-991) {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    transition: 150ms ease-in;
    position: static;
    width: 54px;
    height: 54px;
    border: 1px solid var(--color-unaccent);
    border-radius: 50%;

    &::after {
      content: '';
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .swiper-button-prev {
    &:hover {
      transform: translateX(-3px);
      background-color: var(--color-accent);
      border-color: transparent;

      svg {
        fill: var(--color-white);
      }
    }
  }

  .swiper-button-next {
    &:hover {
      transform: translateX(3px);
      background-color: var(--color-accent);
      border-color: transparent;

      svg {
        fill: var(--color-white);
      }
    }
  }
}

.date-news {
  font-family: $Roboto;
  display: block;
  font-size: 14px;
  line-height: 16px;
}