<section class="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__top">

        <div class="contacts__offer">
          <h1 class="contacts__title title-h1">Контакты</h1>
          <div class="contacts__text">
            <p>Если у вас возникли вопросы? Наши специалисты будут рады на них ответить и предоставить полную и
              исчерпывыающую
              информацию касательно наших товаров и услуг.</p>
          </div>

          <div class="contacts__info contacts-info">
            <address class="contacts-info__box">
              <a class="location" href="#">Узбекистан, Ташкент, Алмазарский район, ул. Широк, 100</a>
            </address>
            <div class="contacts-info__box contacts-info__box--phones">
              <a class="phone" href="tel:998909088313">+998 (90) 9088313</a>
              <a class="phone" href="tel:+998900548454">+998 (90) 0548454</a>
              <a class="phone" href="tel:99890900000">+998-90-900-0-00</a>
            </div>
            <div class="contacts-info__box">
              <a class="mail" href="mailto:info@asiadecor.uz">info@asiadecor.uz</a>
            </div>
            <div class="contacts-info__box">
              <a class="shedule" href="#"><span>пн-пт: <span class="shedule__time">9-18:00</span></span> <span>сб: выходной</span></a>
            </div>
          </div>
        </div>

        <form class="contacts__form form">
          <h3 class="form__title">Есть вопросы? Мы готовы ответить</h3>

          <label class="form__group">
            <input class="form__input" type="text" placeholder="Ваше имя" name="name" required>
          </label>
          <label class="form__group">
            <input class="form__input" type="email" placeholder="Ваше e-mail" name="mail" required>
          </label>
          <label class="form__group">
            <input class="form__input" type="text" placeholder="Номер телефона" name="phone" required>
          </label>

          <label>
            <textarea class="form__input form__input--textarea" name="" id="" placeholder="Сообщнеие"></textarea>
          </label>

          <div class="form__captcha captcha">
            <label class="check">
              <input class="check__input" type="checkbox" required>
              <span class="check__box"></span>
            </label>
          </div>

          <button class="form__btn btn" type="submit">Отправить</button>
        </form>
      </div>
    </div>
  </div>

  <div class="contacts__map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.7129355760635!2d69.24646211528875!3d41.358592879266716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8d56027b09a7%3A0xf7e3eae2449f6254!2sAsiya%20plast%20show%20room!5e0!3m2!1sru!2sru!4v1637421097484!5m2!1sru!2sru"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    <div class="mark">
      <img src="images/logo.svg" alt="">
    </div>
  </div>
</section>