<section class="partners">
  <div class="container">
    <div class="partners__top">
      <h2 class="partners__title section title">Наши партнеры</h2>

      <div class="arrow">
        <button class="arrow-prev" type="button" aria-label="Перейти на предыдущий слайд"></button>
        <button class="arrow-next" type="button" aria-label="Перейти на следующий слайд"></button>
      </div>
    </div>

    <div class="slider">
      <div class="partners__slider swiper">
        <ul class="partners__slides swiper-wrapper">
          <li class="partners__slide swiper-slide">
            <img src="images/content/partners/1.svg" alt="Продукт">
          </li>
          <li class="partners__slide swiper-slide ">
            <img src="images/content/partners/1.svg" alt="Продукт">
          </li>
          <li class="partners__slide swiper-slide">
            <img src="images/content/partners/1.svg" alt="Продукт">
          </li>
          <li class="partners__slide swiper-slide">
            <img src="images/content/partners/1.svg" alt="Продукт">
          </li>
          <li class="partners__slide swiper-slide">
            <img src="images/content/partners/1.svg" alt="Продукт">
          </li>
        </ul>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>