<section class="partners">
  <div class="container">
    <div class="partners__top">
      <h2 class="partners__title section title">Наши партнеры</h2>

      <div class="slider-buttons">
        <div class="swiper-button-prev">
          <svg>
            <use xlink:href="images/sprite.svg#chevron-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg>
            <use xlink:href="images/sprite.svg#chevron-right"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="slider-arrow-top">
      <div class="slider-arrow-top__slider swiper" id="slider-partner">
        <ul class="slider-arrow-top__slides swiper-wrapper">
          <li class="slider-arrow-top__slide swiper-slide">
            <img src="images/content/partners/1.svg" alt="Продукт">
          </li>
          <li class="slider-arrow-top__slide swiper-slide ">
            <img src="images/content/partners/1.svg" alt="Продукт">
          </li>
          <li class="slider-arrow-top__slide swiper-slide">
            <img src="images/content/partners/1.svg" alt="Продукт">
          </li>
          <li class="slider-arrow-top__slide swiper-slide">
            <img src="images/content/partners/1.svg" alt="Продукт">
          </li>
          <li class="slider-arrow-top__slide swiper-slide">
            <img src="images/content/partners/1.svg" alt="Продукт">
          </li>
          <li class="slider-arrow-top__slide swiper-slide">
            <img src="images/content/partners/1.svg" alt="Продукт">
          </li>
          <li class="slider-arrow-top__slide swiper-slide">
            <img src="images/content/partners/1.svg" alt="Продукт">
          </li>
        </ul>

        <div class="swiper-pagination"></div>
      </div>
    </div>

  </div>
</section>