<section class="partners-page">
  <div class="container">
    <h1 class="partners-page__title title-h1">Партнёры</h1>

    <ul class="partners-page__items">
      <li class="partners-page__item partners-page__item--swiss-krono">
        <p class="partners-page__text">Группа компаний SWISS KRONO с главным офисом в Люцерне, Швейцария, является одним
          из ведущих мировых производителей древесных материалов.
        </p>

        <a class="partners-page__btn btn btn--link" href="#">Подробнее</a>
      </li>
      <li class="partners-page__item partners-page__item--hafele">
        <p class="partners-page__text">Группа компаний SWISS KRONO с главным офисом в Люцерне, Швейцария, является одним
          из ведущих мировых производителей древесных материалов.
        </p>

        <a class="partners-page__btn btn btn--link" href="#">Подробнее</a>
      </li>
      <li class="partners-page__item partners-page__item--krono-span">
        <p class="partners-page__text">Группа компаний SWISS KRONO с главным офисом в Люцерне, Швейцария, является одним
          из ведущих мировых производителей древесных материалов.
        </p>

        <a class="partners-page__btn btn btn--link" href="#">Подробнее</a>
      </li>

      <li class="partners-page__item partners-page__item--swiss-krono">
        <p class="partners-page__text">Группа компаний SWISS KRONO с главным офисом в Люцерне, Швейцария, является одним
          из ведущих мировых производителей древесных материалов.
        </p>

        <a class="partners-page__btn btn btn--link" href="#">Подробнее</a>
      </li>
      <li class="partners-page__item partners-page__item--hafele">
        <p class="partners-page__text">Группа компаний SWISS KRONO с главным офисом в Люцерне, Швейцария, является одним
          из ведущих мировых производителей древесных материалов.
        </p>

        <a class="partners-page__btn btn btn--link" href="#">Подробнее</a>
      </li>
      <li class="partners-page__item partners-page__item--krono-span">
        <p class="partners-page__text">Группа компаний SWISS KRONO с главным офисом в Люцерне, Швейцария, является одним
          из ведущих мировых производителей древесных материалов.
        </p>

        <a class="partners-page__btn btn btn--link" href="#">Подробнее</a>
      </li>

      <li class="partners-page__item partners-page__item--swiss-krono">
        <p class="partners-page__text">Группа компаний SWISS KRONO с главным офисом в Люцерне, Швейцария, является одним
          из ведущих мировых производителей древесных материалов.
        </p>

        <a class="partners-page__btn btn btn--link" href="#">Подробнее</a>
      </li>
      <li class="partners-page__item partners-page__item--hafele">
        <p class="partners-page__text">Группа компаний SWISS KRONO с главным офисом в Люцерне, Швейцария, является одним
          из ведущих мировых производителей древесных материалов.
        </p>

        <a class="partners-page__btn btn btn--link" href="#">Подробнее</a>
      </li>
      <li class="partners-page__item partners-page__item--krono-span">
        <p class="partners-page__text">Группа компаний SWISS KRONO с главным офисом в Люцерне, Швейцария, является одним
          из ведущих мировых производителей древесных материалов.
        </p>

        <a class="partners-page__btn btn btn--link" href="#">Подробнее</a>
      </li>
    </ul>
  </div>
</section>