<section class="productions">
  <div class="container">
    <h2 class="productions__title section-title">Продукция</h2>
    <div class="productions__wrapper">


      <ul class="productions__buttons">
        <li class="productions__button" data-filter="all">
          <button type="button">Фартуки</button>
        </li>
        <li class="productions__button" data-filter=".fruits">
          <button type="button">Фартуки матовые</button>
        </li>
        <li class="productions__button" data-filter=".vagetables">
          <button type="button">Алюминевые профили</button>
        </li>
        <li class="productions__button" data-filter=".drinks">
          <button type="button">Фартуки матовые</button>
        </li>
      </ul>

      <div class="slider">

        <div class="productions__slider swiper">
          <ul class="productions__slides swiper-wrapper">
            <li class="productions__slide swiper-slide mix fruits">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title">Белые сотые</h3>
              </article>
            </li>
            <li class="productions__slide swiper-slide mix vagetables">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title">Белые сотые</h3>
              </article>
            </li>
            <li class="productions__slide swiper-slide mix fruits">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title">Белые сотые</h3>
              </article>
            </li>
            <li class="productions__slide swiper-slide mix vagetables">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title">Белые сотые</h3>
              </article>
            </li>
            <li class="productions__slide swiper-slide mix drinks">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title">Белые сотые</h3>
              </article>
            </li>
          </ul>

          <div class="swiper-pagination"></div>
        </div>
        <button class="arrow-next" type="button" aria-label="Перейти на следующий слайд"></button>
        <button class="arrow-prev" type="button" aria-label="Перейти на предыдущий слайд"></button>
      </div>
    </div>
  </div>
</section>