<section class="saw">
  <div class="container">
    <div class="saw__wrapper">
      <div class="saw__offer">
        <h1 class="saw__title title-h1">Распиловка</h1>
        <div class="saw__text">
          <p>Если вы приобрели у нас фанеру, OSB, ДСП, ДВП, подоконник, гипсокартон, ЦСП, доски или брусок, то
            воспользуйтесь услугой Распила!
          </p>
          <p>Для удобства транспортировки и монтажа материалов закажите услугу по Распилу (Нарезке) материала.</p>

          <p class="saw__text-icon">
            Бланк-заказ на распиловку должен прилагаться к счету на распил!
          </p>
        </div>
        <ul class="saw__list">
          <li class="saw__item">Осуществляется только поперечный рез материла.</li>
          <li class="saw__item">Распиленный товар обмену или возврату не подлежит.</li>
          <li class="saw__item">Мы не пилим арматуру (стеклопластиковую, металлическую), а так же не производим
            художественный распил материалов.</li>
        </ul>
        <button class="saw__btn btn">Заказать услугу</button>
      </div>

      <div class="saw__preview">
        <img src="images/content/equipment/1.jpg" alt="Процесс распилки">
      </div>
    </div>
  </div>
</section>