<section class="showrooms">
  <div class="container">
    <h1 class="showrooms__title title-h1">Шоурумы</h1>

    <ul class="showrooms__items">
      <li class="showrooms__item">
        <article class="showroom">
          <div class="showroom__img">
            <img src="images/content/news/1.jpg" alt="">
          </div>
          <div class="showroom__info">
            <h3 class="showroom__title">Showroom 1</h3>
            <div class="showroom__location">
              <a href="">Афросиаб, 1 </a>
            </div>
          </div>
        </article>
      </li>
      <li class="showrooms__item">
        <article class="showroom">
          <div class="showroom__img">
            <img src="images/content/news/1.jpg" alt="">
          </div>
          <div class="showroom__info">
            <h3 class="showroom__title">Showroom 1</h3>
            <div class="showroom__location">
              <a href="">Афросиаб, 1 </a>
            </div>
          </div>
        </article>
      </li>
      <li class="showrooms__item">
        <article class="showroom">
          <div class="showroom__img">
            <img src="images/content/news/1.jpg" alt="">
          </div>
          <div class="showroom__info">
            <h3 class="showroom__title">Showroom 1</h3>
            <div class="showroom__location">
              <a href="">Афросиаб, 1 </a>
            </div>
          </div>
        </article>
      </li>
      <li class="showrooms__item">
        <article class="showroom">
          <div class="showroom__img">
            <img src="images/content/news/1.jpg" alt="">
          </div>
          <div class="showroom__info">
            <h3 class="showroom__title">Showroom 1</h3>
            <div class="showroom__location">
              <a href="">Афросиаб, 1 </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>