<section class="single-product">
  <div class="container">
    <div class="single-product__top">
      <div class="single-product__slider slider-thumbs">
        <div class="slider-thumbs__main swiper" id="product-main">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <img src="images/content/slider-single-product/big-1.jpg" alt="Слайд №1">
            </li>
            <li class="swiper-slide">
              <img src="images/content/slider-single-product/big-1.jpg" alt="Слайд №2">
            </li>
            <li class="swiper-slide">
              <img src="images/content/slider-single-product/big-1.jpg" alt="Слайд №3">
            </li>
            <li class="swiper-slide">
              <img src="images/content/slider-single-product/big-1.jpg" alt="Слайд №4">
            </li>
          </ul>
        </div>

        <div class="slider-thumbs__nav swiper" id="product-nav">
          <ul class="swiper-wrapper">
            <li class="swiper-slide slider-nav__slide">
              <img src="images/content/slider-single-product/small-1.jpg" alt="Слайд №1">
            </li>
            <li class="swiper-slide slider-nav__slide">
              <img src="images/content/slider-single-product/small-1.jpg" alt="Слайд №2">
            </li>
            <li class="swiper-slide slider-nav__slide">
              <img src="images/content/slider-single-product/small-1.jpg" alt="Слайд №3">
            </li>
            <li class="swiper-slide slider-nav__slide">
              <img src="images/content/slider-single-product/small-1.jpg" alt="Слайд №4">
            </li>
          </ul>
        </div>
      </div>

      <div class="single-product__offer single-product-info">
        <h1 class="single-product-info__name title-h1">Ручка мебельная, цвет античная латунь</h1>
        <div class="single-product-info__vendor-code">
          Артикул: <span>23143543</span>
        </div>

        <div class="single-product-info__rating">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="single-product-info__price price">
          <p>845 <span>руб</span></p>
        </div>

        <div class="single-product__accordion accordion">
          <ul class="accordion__list">
            <li class="accordion__item">
              <button class="accordion__control" type="button">Описание</button>

              <div class="accordion__content">
                Ручки на планке для врезных сувальдных замков с задвижкой, с межосевым расстоянием 42 мм. Выпускаются
                отдельные комплекты для правых и левых дверей (L; R).
              </div>
            </li>
            <li class="accordion__item">
              <button class="accordion__control" type="button">Отзывы</button>

              <div class="accordion__content reviews">
                <ul class="reviews__list">
                  <li class="reviews__item review">
                    <div class="review__top">
                      <div class="review__avatar">
                        <img
                          src="https://media.istockphoto.com/photos/middle-aged-man-portrait-picture-id1285156699?b=1&k=20&m=1285156699&s=170667a&w=0&h=l8Bs_xHY2um7IUHKXj7szXvNDW5jMJmnLMuvQWO5vEo="
                          alt="">
                      </div>
                      <div class="review__name">Иван Иванов</div>
                    </div>
                    <div class="review__content">
                      Ручки на планке для врезных сувальдных замков с задвижкой, с межосевым расстоянием 42 мм.
                      Выпускаются
                      отдельные комплекты для правых и левых дверей (L; R).
                    </div>
                  </li>
                  <li class="reviews__item review">
                    <div class="review__top">
                      <div class="review__avatar">
                        <img
                          src="https://media.istockphoto.com/photos/middle-aged-man-portrait-picture-id1285156699?b=1&k=20&m=1285156699&s=170667a&w=0&h=l8Bs_xHY2um7IUHKXj7szXvNDW5jMJmnLMuvQWO5vEo="
                          alt="">
                      </div>
                      <div class="review__name">Петр Петров</div>
                    </div>
                    <div class="review__content">
                      Ручки на планке для врезных сувальдных замков с задвижкой, с межосевым расстоянием 42 мм.
                      Выпускаются
                      отдельные комплекты для правых и левых дверей (L; R).
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="accordion__item">
              <button class="accordion__control" type="button">Доплонительно</button>

              <div class="accordion__content">
                Все описано выше
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>