<section class="news-single">
  <div class="container">
    <div class="news-single__wrapper">
      <div class="news-single__content">
        <h1 class="news-single__title title-h1">Премия FSC России «Зеленый проект года – 2021» объявляет прием заявок
        </h1>

        <time class="news-single__date date-news" datetime="2021-07-28 19:00">28.07.2021</time>

        <div class="news-single__img">
          <img src="images/content/news/1.jpg" alt="">
        </div>
        <div class="new-single__text mb20">
          <p>«Мы проводим премию «Зеленый проект года», чтобы собрать библиотеку лучших практик, которые могли бы
            внедрять у себя самые разные компании и организации, чтобы рационально использовать лесные ресурсы,
            сохранять экосистемы, повышать осведомленность людей и проявлять свою реальную заботу о лесах России. Премия
            расскажет об этих проектах широкой общественности, и, мы уверены, поможет эффективному обмену опытом между
            российскими организациями, предприятиями и органами власти. Мы ожидаем увидеть среди номинантов проекты,
            которые способствуют снижению негативного воздействия на климат, сокращению углеродного следа, замещению
            энергоемких, невозобновляемых источников сырья, проекты в области домостроения, развития циклической
            экономики, партнерские проекты с НПО, научными и образовательными организациями по сохранению,
            восстановлению и рациональному использованию лесов, благотворительные и волонтерские проекты в лесной
            сфере», — говорит Николай Шматков, директор FSC России.
          </p>
        </div>

        <div class="new-single__text-box text-box">
          <span class="text-box__name">Премия нацелена на развитие экологически ответственного, социально
            выгодного</span>
          <ul class="text-box__list">
            <li class="text-box__item">
              Напомним, стартовав в 2020 году, премия «Зеленый проект года» объединила 88 проектов от 61 организации
            </li>
            <li class="text-box__item">
              Премия «Зеленый проект года» объединила 88 проектов от 61 организации
            </li>
            <li class="text-box__item">
              Напомним, стартовав в 2020 году, премия «Зеленый проект года» объединила 88 проектов от 61 организации
            </li>
          </ul>
        </div>
        <div class="new-single__text-box text-box">
          <span class="text-box__name">На развитие экологически ответственного, социально выгодного</span>
          <ul class="text-box__list text-box__list--number">
            <li class="text-box__item">
              Напомним, стартовав в 2020 году, премия «Зеленый проект года» объединила 88 проектов от 61 организации
            </li>
            <li class="text-box__item">
              Премия «Зеленый проект года» объединила 88 проектов от 61 организации
            </li>
            <li class="text-box__item">
              Напомним, стартовав в 2020 году, премия «Зеленый проект года» объединила 88 проектов от 61 организации
            </li>
          </ul>
        </div>

        <blockquote class="news-singe__quote quote">
          <p>“Чтобы собрать библиотеку лучших практик, которые могли бы внедрять у себя самые разные компании и
            организации, чтобы рационально использовать лесные ресурсы, сохранять экосистемы, повышать осведомленность
            людей и проявлять свою реальную заботу о лесах России.” </p>
        </blockquote>

        <div class="new-single__text">
          <p>
            Чтобы собрать библиотеку лучших практик, которые могли бы внедрять у себя самые разные компании и
            организации,
            чтобы рационально использовать лесные ресурсы, сохранять экосистемы, повышать осведомленность людей и
            проявлять свою реальную заботу о лесах России.
          </p>
        </div>
      </div>

      <aside class="news-single__last-news last-news">
        <h2 class="last-news__title">Последние новости</h2>
        <ul class="last-news__list">
          <li class="last-news__item">
            <article class="news-card">
              <div class="news-card__img">
                <img src="images/content/news/1.jpg" alt="">
              </div>
              <div class="news-card__info">
                <div class="news-card__text">
                  <a href="#">Новая модель профиля GOLIGHT для установки в нижний ярус и колонны</a>
                </div>
                <time class="news-card__date date-news" datetime="2021-07-28 19:00">28.07.2021</time>
              </div>
            </article>
          </li>
          <li class="last-news__item">
            <article class="news-card">
              <div class="news-card__img">
                <img src="images/content/news/1.jpg" alt="">
              </div>
              <div class="news-card__info">
                <div class="news-card__text">
                  <a href="#">Новая модель профиля GOLIGHT для установки в нижний ярус и колонны</a>
                </div>
                <time class="news-card__date date-news" datetime="2021-07-28 19:00">28.07.2021</time>
              </div>
            </article>
          </li>
          <li class="last-news__item">
            <article class="news-card">
              <div class="news-card__img">
                <img src="images/content/news/1.jpg" alt="">
              </div>
              <div class="news-card__info">
                <div class="news-card__text">
                  <a href="#">Новая модель профиля GOLIGHT для установки в нижний ярус и колонны</a>
                </div>
                <time class="news-card__date date-news" datetime="2021-07-28 19:00">28.07.2021</time>
              </div>
            </article>
          </li>
        </ul>
      </aside>
    </div>
  </div>
</section>