.contacts-info {
  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--phones {
      font-family: $Roboto;
    }

    &:not(:last-child) {
      margin-bottom: 27px;

      @include breakpointsMaxW($bp-container) {
        margin-bottom: calc(15px + (27 - 15) * ((100vw - 320px) / (1225 - 320)));
      }
    }

    a {
      padding-left: 42px;
      position: relative;
      transition: 150ms ease;

      &:hover {
        color: var(--color-accent);
      }

      &::after {
        @include pseudoElDefault();
        width: 18px;
        height: 18px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      &.location {
        &::after {
          @include maskImage(url('../images/sprite.svg#map'), cover);
          background-color: var(--color-dark);
        }
      }

      &.phone {
        &:last-child {
          margin-top: 10px;
        }

        &::after {
          @include maskImage(url('../images/sprite.svg#phone-icon'), cover);
          background-color: var(--color-dark);
        }
      }

      &.mail {
        &::after {
          @include maskImage(url('../images/sprite.svg#mail'), cover);
          background-color: var(--color-dark);
        }
      }

      &.shedule {
        &__time {
          font-family: $Roboto;
        }

        &::after {
          @include maskImage(url('../images/sprite.svg#clock'), cover);
          background-color: var(--color-dark);
        }
      }
    }
  }
}