.contacts {
  padding-top: 20px;

  @include breakpointsMaxW($bp-768) {
    padding-top: 0;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 580px);
    gap: 240px;
    margin-bottom: 63px;

    @include breakpointsMaxW($bp-container) {
      gap: 80px;
      grid-template-columns: 1fr 1fr;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
      max-width: 580px;
      gap: calc(50px + (80 - 50) * ((100vw - 320px) / (991 - 320)));
    }

    @include breakpointsMaxW($bp-768) {
      margin-bottom: 40px;
    }
  }

  &__offer {
    font-size: 18px;
    line-height: 25px;

    @include breakpointsMaxW($bp-768) {
      font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (991 - 320)));
    }
  }

  &__title {
    margin-bottom: 24px;

    @include breakpointsMaxW($bp-container) {
      margin-bottom: calc(20px + (24 - 20) * ((100vw - 320px) / (1225 - 320)));
    }
  }

  &__text {
    margin-bottom: 60px;

    @include breakpointsMaxW($bp-container) {
      margin-bottom: calc(25px + (60 - 25) * ((100vw - 320px) / (1225 - 320)));
    }
  }

  &__map {
    width: 100%;
    height: 595px;
    position: relative;

    iframe {
      width: 100%;
      height: 100%;
    }

    @include breakpointsMaxW($bp-container) {
      height: calc(350px + (595 - 350) * ((100vw - 320px) / (1225 - 320)));
    }
  }
}