.contacts {
  &__top {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 580px);
    gap: 240px;
    margin-bottom: 63px;

    @include breakpointsMaxW($bp-container) {
      gap: 80px;
      grid-template-columns: 1fr 1fr;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
      max-width: 580px;
    }
  }

  &__offer {
    font-size: 18px;
    line-height: 25px;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 56px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__map {
    width: 100%;
    height: 595px;

    iframe {
      width: 100%;
      height: 100%;
    }

    @include breakpointsMaxW($bp-container) {
      height: calc(350px + (595 - 350) * ((100vw - 320px) / (1225 - 320)));
    }
  }
}