.header {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding-top: 28px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  z-index: 111;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  @include breakpointsMaxW($bp-768) {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &__logo {
    margin-right: 30px;
  }

  &__wrapper {
    max-width: 1240px;
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  &__menu {
    margin-left: 130px;
 

    @include breakpointsMaxW($bp-container) {
      margin-left: auto;
      max-width: 755px;
      width: 100%;
      margin: 0 auto;
    }

    @include breakpointsMaxW($bp-991) {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding: 23px;
      position: absolute;
      top: 86px;
      left: -100%;
      width: 100%;
      margin-left: 0;
      height: 100vh;
      transition: 350ms;
      background-color: var(--color-dark);

      overflow: auto;

      z-index: 100;
      margin-left: 0;

      &.active {
        left: 0;
      }

      .main-menu {
        flex-direction: column;
        align-items: flex-start;

        &__item {
          width: 100%;
          &:not(:last-child) {
            margin-bottom: 32px;
          }
        }
      }
    }

    @include breakpointsMaxW($bp-768) {
      top: 65px;
    }
  }

  &__tools {
    display: flex;
    max-width: 105px;
    width: 100%;
    flex-shrink: 0;
    margin-left: auto;
    justify-content: space-between;

    @include breakpointsMaxW($bp-991) {
      max-width: 85px;
    }
  }

  &__search,
  &__toggle {
    width: 24px;
    height: 24px;
    z-index: 10;
    background-color: var(--color-white);
    transition: 150ms ease-in;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-accent);
      transform: scale(1.1)
    }
  }

  &__search {
    @include maskImage(url('../images/sprite.svg#search-icon'), cover);
  }

  &__toggle {
    @include maskImage(url('../images/sprite.svg#menu-icon'), cover);
  }

  &__phone-box {
    position: absolute;
    top: 0;
    right: 0;
  }
}