.main-menu {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 38px;

      @include breakpointsMaxW($bp-container) {
        margin-right: 18px;
      }

      @include breakpointsMaxW($bp-991) {
        margin-right: 0;
      }
    }
  }

  &__link {
    display: block;
    font-size: 18px;
    line-height: 21px;
    padding: 1px;

    transition: 250ms ease;

    @include linkHover();

    &--services,
    &--catalog {
      padding-right: 21px;

      &:hover {
        &::after {
          background-color: var(--color-accent);
        }
      }

      &::after {
        @include afterChevron();
      }
    }

    &--services {
      &.active {
        .dropdown-services {
          opacity: 1;
        }
      }
    }

    &--catalog {
      &.active {
        .dropdown-catalog {
          opacity: 1;
        }
      }
    }
  }
}