.partners {
  padding-bottom: 180px;
  padding-top: 180px;

  @include breakpointsMaxW($bp-container) {
    padding-bottom: calc(50px + (180 - 50) * ((100vw - 320px) / (1225 - 320)));
    padding-top: calc(50px + (180 - 50) * ((100vw - 320px) / (1225 - 320)));
  }

  .slider-buttons {
    @include breakpointsMaxW($bp-768) {
      display: none;
    }
  }

  &__top {
    margin-bottom: 88px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slider-arrow-top {
    height: 100px;

    .slider-arrow-top__slider {
      height: 100%;
    }
  }
}