.productions {
  padding-top: 70px;
  padding-bottom: 180px;

  @include breakpointsMaxW($bp-container) {
    padding-bottom: calc(50px + (180 - 50) * ((100vw - 320px) / (1225 - 320)));
    padding-top: calc(50px + (70 - 50) * ((100vw - 320px) / (1225 - 320)));
  }

  &--best-offers {
    .productions__wrapper {
      .slider {
        display: block;
      }
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 74px;

    @include breakpointsMaxW($bp-container) {
      margin-bottom: calc(35px + (74 - 35) * ((100vw - 320px) / (1225 - 320)));
    }
  }

  &__buttons {
    max-width: 830px;
    gap: 87px;
    margin: 0 auto;
    margin-bottom: 72px;
    overflow-x: scroll;

    display: flex;
    align-items: center;

    @include breakpointsMaxW($bp-container) {
      gap: calc(12px + (87 - 12) * ((100vw - 320px) / (1225 - 320)));
      margin-bottom: calc(24px + (72 - 24) * ((100vw - 320px) / (1225 - 320)));
    }

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__button {
    font-size: 18px;
    line-height: 21px;
    white-space: nowrap;

    position: relative;
    padding-bottom: 18px;

    &::after {
      @include pseudoElDefault();
      width: 100%;
      height: 1px;
      background-color: var(--color-accent);
      bottom: 1px;
      left: 0;
      transform: scaleX(0);
      transition: 150ms ease;
    }

    &:focus {
      background-color: lighten(#bc1d4a, 20%);
      border-radius: 3px;
    }

    &:active {
      color: var(--color-white);
    }

    &--active,
    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__slider {
    user-select: none;
    position: relative;
    height: 530px;

    @include breakpointsMaxW($bp-container) {
      height: calc(230px + (530 - 230) * ((100vw - 320px) / (1225 - 320)));
    }
  }

  &__slides {
    height: 430px;

    @include breakpointsMaxW($bp-container) {
      height: calc(182px + (430 - 182) * ((100vw - 320px) / (1225 - 320)));
    }
  }

  .slider {
    position: relative;
    display: none;

    &.active {
      display: block;
      animation: opacity-visibility 2000ms both;
    }
  }

  .swiper-pagination {
    height: 6px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    z-index: 0;

    display: flex;
    align-items: center;
  }

  .swiper-pagination-bullet {
    max-width: 342px;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: 10;

    background-color: transparent;

    &-active {
      background-color: #c4c4c4;
    }
  }

  .arrow-next,
  .arrow-prev {
    position: absolute;
    width: 54px;
    height: 54px;

    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 1px solid rgb(233, 229, 229);

    &::after {
      @include pseudoElDefault();
      top: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      transform: translate(-50%, -50%);
    }

    @include breakpointsMaxW(1600px) {
      display: none;
    }
  }

  .arrow-next {
    right: -70px;

    &::after {
      @include maskImage(url('../images/icons/chevron-right.svg'), 24px);
      background-color: var(--color-dark);
    }
  }

  .arrow-prev {
    left: -70px;

    &::after {
      @include maskImage(url('../images/icons/chevron-left.svg'), 24px);
      background-color: var(--color-dark);
    }
  }
}