.product-card {
  max-width: 336px;
  width: 100%;
  position: relative;
  transition: 300ms ease;
  // 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 430px;
  position: relative;

  @include breakpointsMaxW($bp-container) {
    min-height: calc(182px + (430 - 182) * ((100vw - 320px) / (1225 - 320)));
  }
  
  &:hover {
    .product-card__img {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__badge {
    position: absolute;
    top: 7px;
    left: 16px;
    color: var(--color-white);
    background-color: var(--color-accent);
    transform: rotate(-90deg);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 7px;
    z-index: 10;
  }

  &__img {
    width: 100%;
    margin-bottom: 28px;
    height: 381px;
    transition: 150ms ease-in;
    overflow: hidden;

    @include breakpointsMaxW(1200px) {
      height: calc(160px + (381 - 160) * ((100vw - 320px) / (1225 - 320)));
      margin-bottom: calc(8px + (28 - 8) * ((100vw - 320px) / (1225 - 320)));
    }

    img {
      @include img(cover);
      transition: 250ms ease;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 21px;
    margin-top: auto;
    transition: 250ms ease-in;

    &:hover {
      color: var(--color-accent);
    }

    @include breakpointsMaxW($bp-container) {
      font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1225 - 320)));
      line-height: calc(14px + (21 - 14) * ((100vw - 320px) / (1225 - 320)));
    }
  }
}