<section class="productions productions--best-offers">
  <div class="container">
    <h2 class="productions__title section-title">Лучшее предложение</h2>
    <div class="productions__wrapper">

      <div class="slider active">
        <div class="productions__slider swiper">
          <ul class="productions__slides swiper-wrapper">
            <li class="productions__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title"><a href="#">Белые сотые</a></h3>
              </article>
            </li>
            <li class="productions__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title"><a href="#">Белые сотые</a></h3>
              </article>
            </li>
            <li class="productions__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title"><a href="#">Белые сотые</a></h3>
              </article>
            </li>
            <li class="productions__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title"><a href="#">Белые сотые</a></h3>
              </article>
            </li>
            <li class="productions__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title"><a href="#">Белые сотые</a></h3>
              </article>
            </li>
            <li class="productions__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title"><a href="#">Белые сотые</a></h3>
              </article>
            </li>
            <li class="productions__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title"><a href="#">Белые сотые</a></h3>
              </article>
            </li>
            <li class="productions__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title"><a href="#">Белые сотые</a></h3>
              </article>
            </li>
            <li class="productions__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__img">
                  <img src="images/content/products/1.jpg" alt="Продукт">
                </div>
                <h3 class="product-card__title"><a href="#">Белые сотые</a></h3>
              </article>
            </li>
          </ul>

          <div class="swiper-pagination"></div>
        </div>

        <button class="arrow-next" type="button" aria-label="Перейти на следующий слайд"></button>
        <button class="arrow-prev" type="button" aria-label="Перейти на предыдущий слайд"></button>
      </div>
    </div>
  </div>
</section>