<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">Единство в интерьере для создания гармоничного дизайна</h1>
        <button class="hero__btn btn">Подробнее</button>


        <div class="hero__brands brands">
          <span class="brands__text">Эксклюзивная ммебельная фуритура от</span>
          <ul class="brands__list">
            <li class="brands__item brands__item--blum"></li>
            <li class="brands__item brands__item--hafele"></li>
            <li class="brands__item brands__item--salice"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>