<section class="showrooms">
  <div class="container">
    <h1 class="showrooms__title title-h1">Шоурумы</h1>

    <ul class="showrooms__items">
      <li class="showrooms__item">
        <article class="showroom">
          <div class="showroom__img">
            <img src="images/content/news/1.jpg" alt="Шоурум - 'Ваша любимая квартира'">
          </div>
          <div class="showroom__info">
            <h3 class="showroom__title"><a href="#">Showroom 1</a></h3>
            <div class="showroom__location">
              <!-- Нужна ссылка? типо чтобы на карту сразу кинуло или типо того -->
              <a href="#">Афросиаб, 1 </a>
            </div>
          </div>
        </article>
      </li>
      <li class="showrooms__item">
        <article class="showroom">
          <div class="showroom__img">
            <img src="images/content/news/1.jpg" alt="Шоурум - 'Ваша нелюбимая квартира'">
          </div>
          <div class="showroom__info">
            <h3 class="showroom__title"><a href="#">Showroom 1</a></h3>
            <div class="showroom__location">
              <a href="#">Афросиаб, 1 </a>
            </div>
          </div>
        </article>
      </li>
      <li class="showrooms__item">
        <article class="showroom">
          <div class="showroom__img">
            <img src="images/content/news/1.jpg" alt="Шоурум - 'На седьмом этаже'">
          </div>
          <div class="showroom__info">
            <h3 class="showroom__title"><a href="#">Showroom 1</a></h3>
            <div class="showroom__location">
              <a href="#">Афросиаб, 1 </a>
            </div>
          </div>
        </article>
      </li>
      <li class="showrooms__item">
        <article class="showroom">
          <div class="showroom__img">
            <img src="images/content/news/1.jpg" alt="Шоурум - 'Квартирный вопрос'">
          </div>
          <div class="showroom__info">
            <h3 class="showroom__title"><a href="#">Showroom 1</a></h3>
            <div class="showroom__location">
              <a href="#">Афросиаб, 1 </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>