<section class="single-showroom">
  <div class="container">
    <div class="single-showroom__wrapper">
      <div class="single-showroom__top">
        <div class="single-showroom__offer">
          <h1 class="single-showroom__title">Шоурум</h1>

          <div class="single-showroom__text">
            <p>
              Добро пожаловать в Showroom по улице Паркент, 1. Здесь вы найдёте большой ассортимент офисной мебели и
              сможет
              заказть её, предваоительно получив консультации наших специалистов.
            </p>
          </div>
          <div class="single-showroom__info contacts-info">
            <div class="contacts-info__box contacts-info__box--phones">
              <a class="phone" href="tel:998909088313">+998 (90) 9088313</a>
            </div>
            <address class="contacts-info__box">
              <a class="location" href="#">Узбекистан, Ташкент, Алмазарский район, ул. Широк, 100</a>
            </address>
          </div>
        </div>

        <div class="single-showroom__map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d47925.50446848248!2d69.20077794535153!3d41.34487546127975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0KPQt9Cx0LXQutC40YHRgtCw0L0sINCi0LDRiNC60LXQvdGCLCDQkNC70LzQsNC30LDRgNGB0LrQuNC5INGA0LDQudC-0L0sINGD0LsuINCo0LjRgNC-0LosIDEwMA!5e0!3m2!1sru!2sru!4v1637358626652!5m2!1sru!2sru"
            width="600" height="305" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>

      <div class="single-showroom__bottom">
        <div class="single-product__slider slider-thumbs">
          <div class="slider-thumbs__main swiper" id="product-main">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <img src="images/content/slider-single-showroom/1.jpg" alt="Слайд №1">
              </li>
              <li class="swiper-slide">
                <img src="images/content/slider-single-showroom/1.jpg" alt="Слайд №2">
              </li>
              <li class="swiper-slide">
                <img src="images/content/slider-single-showroom/1.jpg" alt="Слайд №3">
              </li>
              <li class="swiper-slide">
                <img src="images/content/slider-single-showroom/1.jpg" alt="Слайд №4">
              </li>
            </ul>
          </div>
          
          <button class="arrow-next" type="button" aria-label="Перейти на следующий слайд"></button>
          <button class="arrow-prev" type="button" aria-label="Перейти на предыдущий слайд"></button>

          <div class="slider-thumbs__nav swiper" id="product-nav">
            <ul class="swiper-wrapper">
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/products/1.jpg" alt="Слайд №1">
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/products/1.jpg" alt="Слайд №2">
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/products/1.jpg" alt="Слайд №3">
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/products/1.jpg" alt="Слайд №4">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>